In [241]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [242]:
path = 'https://raw.githubusercontent.com/PlayingNumbers/ds_salary_proj/data_cleaning/glassdoor_jobs.csv'

In [243]:
df = pd.read_csv(path)
df

     Unnamed: 0  ...                                        Competitors
0             0  ...                                                 -1
1             1  ...                                                 -1
2             2  ...                                                 -1
3             3  ...  Oak Ridge National Laboratory, National Renewa...
4             4  ...               Commerce Signals, Cardlytics, Yodlee
..          ...  ...                                                ...
951         951  ...                    See Tickets, TicketWeb, Vendini
952         952  ...                                                 -1
953         953  ...                                                 -1
954         954  ...                                             Slalom
955         955  ...                                                 -1

[956 rows x 15 columns]

In [244]:
df = df[df['Salary Estimate'] != '-1']
df

     Unnamed: 0  ...                                        Competitors
0             0  ...                                                 -1
1             1  ...                                                 -1
2             2  ...                                                 -1
3             3  ...  Oak Ridge National Laboratory, National Renewa...
4             4  ...               Commerce Signals, Cardlytics, Yodlee
..          ...  ...                                                ...
950         950  ...                         Pfizer, AstraZeneca, Merck
951         951  ...                    See Tickets, TicketWeb, Vendini
952         952  ...                                                 -1
953         953  ...                                                 -1
955         955  ...                                                 -1

[742 rows x 15 columns]

In [245]:
df['Hourly Salary'] = df['Salary Estimate'].apply(lambda x: 1 if 'PER HOUR' in x.upper() else 0)
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     Unnamed: 0  ... Hourly Salary
0             0  ...             0
1             1  ...             0
2             2  ...             0
3             3  ...             0
4             4  ...             0
..          ...  ...           ...
950         950  ...             0
951         951  ...             0
952         952  ...             0
953         953  ...             0
955         955  ...             0

[742 rows x 16 columns]

In [246]:
df['Employer Provided Sal'] = df['Salary Estimate'].apply(lambda x: 1 if 'EMPLOYER PROVIDED SALARY:' in x.upper() else 0)
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     Unnamed: 0  ... Employer Provided Sal
0             0  ...                     0
1             1  ...                     0
2             2  ...                     0
3             3  ...                     0
4             4  ...                     0
..          ...  ...                   ...
950         950  ...                     0
951         951  ...                     0
952         952  ...                     0
953         953  ...                     0
955         955  ...                     0

[742 rows x 17 columns]

In [247]:
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
salary

0       $53K-$91K
1      $63K-$112K
2       $80K-$90K
3       $56K-$97K
4      $86K-$143K
          ...
950    $58K-$111K
951    $72K-$133K
952     $56K-$91K
953    $95K-$160K
955    $61K-$126K
Name: Salary Estimate, Length: 742, dtype: object

In [248]:
salary = salary.apply(lambda x: x.replace('$','').replace('K',''))
salary

0       53-91
1      63-112
2       80-90
3       56-97
4      86-143
        ...
950    58-111
951    72-133
952     56-91
953    95-160
955    61-126
Name: Salary Estimate, Length: 742, dtype: object

In [249]:
salary = salary.apply(lambda x: x.upper().replace('PER HOUR','').replace('EMPLOYER PROVIDED SALARY:',''))
salary

0       53-91
1      63-112
2       80-90
3       56-97
4      86-143
        ...
950    58-111
951    72-133
952     56-91
953    95-160
955    61-126
Name: Salary Estimate, Length: 742, dtype: object

In [250]:
df['Min Salary'] = salary.apply(lambda x: int(x.split('-')[0]))
df['Max Salary'] = salary.apply(lambda x: int(x.split('-')[1]))
df['Average Salary'] = (df['Min Salary'] + df['Max Salary'])/2
df.dtypes

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Unnamed: 0                 int64
Job Title                 object
Salary Estimate           object
Job Description           object
Rating                   float64
                          ...
Hourly Salary              int64
Employer Provided Sal      int64
Min Salary                 int64
Max Salary                 int64
Average Salary           float64
Length: 20, dtype: object

In [251]:
df['Company Name'] = df['Company Name'].apply(lambda x: x.split('\n')[0])
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     Unnamed: 0  ... Average Salary
0             0  ...           72.0
1             1  ...           87.5
2             2  ...           85.0
3             3  ...           76.5
4             4  ...          114.5
..          ...  ...            ...
950         950  ...           84.5
951         951  ...          102.5
952         952  ...           73.5
953         953  ...          127.5
955         955  ...           93.5

[742 rows x 20 columns]

In [252]:
df['Job State'] = df['Location'].apply(lambda x: x.split(',')[1])
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     Unnamed: 0  ... Job State
0             0  ...        NM
1             1  ...        MD
2             2  ...        FL
3             3  ...        WA
4             4  ...        NY
..          ...  ...       ...
950         950  ...        MA
951         951  ...        TN
952         952  ...        PA
953         953  ...        PA
955         955  ...        OH

[742 rows x 21 columns]

In [253]:
df['Job State'].value_counts()

 CA             151
 MA             103
 NY              72
 VA              41
 IL              40
               ...
 ID               2
 MN               2
 SC               1
 RI               1
 Los Angeles      1
Name: Job State, Length: 38, dtype: int64

In [254]:
df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis=1)
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     Unnamed: 0  ... same_state
0             0  ...          0
1             1  ...          0
2             2  ...          1
3             3  ...          1
4             4  ...          1
..          ...  ...        ...
950         950  ...          0
951         951  ...          0
952         952  ...          1
953         953  ...          0
955         955  ...          0

[742 rows x 22 columns]

In [255]:
df['Company_age'] = df.Founded.apply(lambda x: x if x<0 else 2020-x)
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     Unnamed: 0  ... Company_age
0             0  ...          47
1             1  ...          36
2             2  ...          10
3             3  ...          55
4             4  ...          22
..          ...  ...         ...
950         950  ...         190
951         951  ...          14
952         952  ...          36
953         953  ...          -1
955         955  ...          53

[742 rows x 23 columns]

In [256]:
# python
df['python'] = df['Job Description'].apply(lambda x: 1 if 'PYTHON' in x.upper() else 0)
print("python\n",df.python.value_counts())
# r language
df['r_lang'] = df['Job Description'].apply(lambda x: 1 if ('R STUDIO' in x.upper() or 'R LANGUAGE' in x.upper() or 'R PROGRAMMING' in x.upper()) else 0)
print("r_lang\n",df.r_lang.value_counts())
# excel
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'EXCEL' in x.upper() else 0)
print("excel\n",df.excel.value_counts())
# anaconda
df['anaconda'] = df['Job Description'].apply(lambda x: 1 if 'ANACONDA' in x.upper() else 0)
print("anaconda\n",df.anaconda.value_counts())
# rapidminer
df['rapid'] = df['Job Description'].apply(lambda x: 1 if 'RAPIDMINER' in x.upper() else 0)
print("rapid\n",df.rapid.value_counts())
# sql
df['sql'] = df['Job Description'].apply(lambda x: 1 if 'SQL' in x.upper() else 0)
print("sql\n",df.sql.value_counts())
# tensorflow
df['tensorflow'] = df['Job Description'].apply(lambda x: 1 if 'TENSORFLOW' in x.upper() else 0)
print("tensor\n",df.tensorflow.value_counts())
# tableau
df['tableau'] = df['Job Description'].apply(lambda x: 1 if 'TABLEAU' in x.upper() else 0)
print("tableau\n",df.tableau.value_counts())
# spark
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'SPARK' in x.upper() else 0)
print("spark\n",df.spark.value_counts())
# AWS
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'AWS' in x.upper() else 0)
print("AWS\n",df.aws.value_counts())

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

python
 1    392
0    350
Name: python, dtype: int64
r_lang
 0    685
1     57
Name: r_lang, dtype: int64
excel
 1    388
0    354
Name: excel, dtype: int64
anaconda
 0    741
1      1
Name: anaconda, dtype: int64
rapid
 0    740
1      2
Name: rapid, dtype: int64
sql
 1    380
0    362
Name: sql, dtype: int64
tensor
 0    671
1     71
Name: tensorflow, dtype: int64
tableau
 0    594
1    148
Name: tableau, dtype: int64
spark
 0    575
1    167
Name: spark, dtype: int64
AWS
 0    566
1    176
Name: aws, dtype: int64

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [257]:
df = df.drop('Unnamed: 0', axis=1)
df_cleaned=df.reset_index()
df_cleaned.drop('index',axis=1, inplace=True)
df_cleaned

                                             Job Title  ... aws
0                                       Data Scientist  ...   0
1                            Healthcare Data Scientist  ...   0
2                                       Data Scientist  ...   0
3                                       Data Scientist  ...   0
4                                       Data Scientist  ...   0
..                                                 ...  ...  ..
737           Sr Scientist, Immuno-Oncology - Oncology  ...   1
738                               Senior Data Engineer  ...   1
739  Project Scientist - Auton Lab, Robotics Institute  ...   0
740                               Data Science Manager  ...   0
741          Research Scientist – Security and Privacy  ...   0

[742 rows x 32 columns]

In [258]:
df_cleaned.to_csv("salarycleaned.csv")